<html>
      <style type="text/css">
        body{color:#efd;background:#453;padding:0 5em;margin:0}
        h1{padding:2em 1em;background:#675}
        h2{color:#bf8;border-top:1px dotted #fff;margin-top:2em}
        p{margin:1em 0}
      </style>
     
<form action="comment" method="post">{% csrf_token %} 
    <p>UserName: <input type="text" name="uname" /></p>
    <p>comment: <input type="text" name="comment" /></p>
    <input type="submit" value="Submit" />
</form>

      <body>
        <h1>woshicai's practice</h1>
        <h3>Show me your comment</h3>
        {% if latest_question_list %}
            <ul>
            {% for question in latest_question_list %}
                <li>User:{{question.name}}, Pub-Date:{{question.pub_date}}<br/>{{ question.comment }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No comments are available at present.</p>
        {% endif %}
      </body>
</html>
